---
import "../index.css";
import { css } from "styled-system/css";
import { Button } from "../../../components/react/src/components/ui/button.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class={css({ textStyle: 'body' })}>
		<Button>
			Hello Chlorophyll!
		</Button>
	</div>
</Layout>
